<h1>Anagrams????</h1>
  <form action='/display'>
    <div class="form-group">
      <input name="word1" class="form-control" type="text" placeholder="Word 1" />
      <input name="word2" class="form-control" type="text" placeholder="Word 2" />
    </div>
    <button type="submit" class="btn">Go!</button>
  </form>
<%= @result %>
